body {
margin: 0;
padding: 0;
}
.H1 { 
	margin-top: 0; 
	text-align: center;
	}
.nav {
	height: 50px;
background: #20B2AA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FF00FF, ##20B2AA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FF00FF, ##20B2AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigate_Li li{

	list-style: none;
	float: left;
	text-align: center;
	margin: 5px 3%;

}
.MainText {
	font-size: 20px;
	background: ##20B2AA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FF00FF, ##20B2AA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FF00FF, ##20B2AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
