
div    {
    	align:justify;
    	position: center;
    	width:700px;
    	
    	margin: auto;
        margin-top: 0;

           }

  body {
  	
  }

  p {
  	color: blue;
  	font-size: 25px;
  	font-weight: bold;
  	text-align: justify;
  	font-family: "Rakkas", cursive;
  	
  }

  h1{
  	text-align: center;
  	color: red;
  	font-weight: 30px;
  	font-family: "Rakkas", cursive;
  }
  

  #MainImage{
    width: 700px;
  }
    a {
    text-align: center;
    color: orange;
    font-weight: 40px;
    font-family: "Rakkas", cursive;
  }